.flex-row span {
    margin-right: 1em;
}

.btn-space {
    display: flex;
    justify-content: flex-end;
    gap: 0.64rem;
}

.button {
    border-radius: 5px;
    flex-grow: 1;
    font-weight: bold;
    font-size: 1.25rem;
    font-family: inherit;
}