.cellier {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    color: #7A5958;
    background-color: #E0CFA0;
    text-overflow: ellipsis;
}

.localisation {
    position: relative;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #343B41;
    background-color: #CDCED1;
}

.flex {
    display: flex;
}

.disabled {
    pointer-events: none;
}

*+*, p {
    margin: 0;
    padding: 0;
}

.articlesConteneur {
    margin: 0.64rem;
    display: flex;
    flex-direction: column;
    gap: 0.64rem;
}

.articleVin {
    border: 2px solid;
    border-radius: 3px;
    border-color: #7A5958;
    display: flex;
    flex-direction: column;
}

.underline{
    text-decoration: underline;

}

.nomVinConteneur {
    padding: 0.64rem;
    background-color: #7A5958;
    transition: all 0.3s ease;
}

.nomVinConteneur:hover{
    background-color: #CDCED1;
    color: #7A5958;
}

.nomVinConteneur>h2 {
    font-size: 1.25rem;
    font-weight: 700;
    color: #fff;
}

.infoBouteilleConteneur {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image {
    margin: 0.64rem;
    margin-left: 1.5rem;
    width: 30px;
    height: 83px;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
    padding: 0.64rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.bouteilleSAQConteneur {
    display: flex;
    gap: 0.64rem;
    margin: 0.64rem; 
    align-self: flex-start;
    width: 56px;
    height: 56px;
    justify-content: center;
    align-items:center;
}

.infoEtSaq{
    display: flex;
    justify-content: space-between;
    align-self: end;
}

.lienSAQ {
    color: #7A5958;
    font-weight: 700;
    text-decoration: underline;
}

.nonlienSAQ {
    padding: 0.64rem;
}

.cercle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.check {
    color: #778D83;
}

.infoCellierBouteilleConteneur {
    display: flex;
    flex-direction: column;
    gap: 0.41rem;
}

.infoCellierBouteille {
    display: flex;
    padding: 0.64rem;
    padding-left: 1.5rem;
    background-color: #CDCED1;
}

.infoUnitaires p {
    color: #343B41;
}

.infoUnitaires .select {
    padding-top: 0.41rem;
    padding-bottom: 0.41rem;
}


/*** boutons ajout et retrait d'un vin existant ****/

.bouton-conteneur {
    align-self: center;
    margin-left: auto;
    column-gap: 0.64rem;
}

.bouton-cercle-add {
    transition: all 0.2s ease;
}

.bouton-cercle-add:hover {
    background-color: #99AAA2;
}

.bouton-cercle-add a {
    background-color: #778D83;
}

.bouton-cercle-remove {
    transition: all 0.2s ease;
}

.bouton-cercle-remove:hover {
    background-color: #99AAA2;
}

.bouton-cercle-remove a {
    background-color: #7A5958;
}

.bouton-cercle-remove a:hover {
    background-color: #AC9678;
}


/* Materialize css */

.material-icon {

    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

/* bouton ajout */

.bouton-ajout-vin-conteneur {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    margin-left: 0.64rem;
    margin-right: 0.64rem;
    margin-bottom: 1rem;
    padding: 0.64rem 0;
    border-radius: 3px;
    border-style: solid;
    border-color:#778D83 ;
    border-width: 2px;
}

.margin-right-1 {
    margin-right: 1rem;
}

.bouton-ajout-vin {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.512rem;
    padding-bottom: 0.512rem;
    padding-right: 1.953rem;
    padding-left: 1.953rem;
    border-radius: 30px;
    color: #343B41;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    background-color: #99AAA2;
    transition: all 0.2s ease;
}

.bouton-ajout-vin>i {
    color: #343B41;
}

.bouton-ajout-vin:hover {
    background-color: #778D83;
    color: white;
}

.entete-icon-bouton {
    display: flex;
    column-gap: 1rem;
    justify-content: center;
}


.cellier .select-wrapper input.select-dropdown,
.cellier .select-wrapper input.select-dropdown:focus,
.bouteille-nom .select-wrapper input.select-dropdown,
.bouteille-nom .select-wrapper input.select-dropdown:focus
 {
    border-bottom: none;
}

.cellier .select-wrapper input.select-dropdown {
    font-size: 1rem;
    font-weight: 700;
    color: #774444;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 0;
    text-overflow: ellipsis;
}

.cellier .dropdown-content li>span {
    color: #7A5958;
    text-align: center;
}


.bouteille-nom .select-wrapper {
    flex-grow: 1;
}

.bouteille-nom .select-wrapper input.select-dropdown {
    font-weight: 700;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 0;
    text-overflow: ellipsis;
}

.bouteille-nom .dropdown-content li>span {
    color: #7A5958;
    text-align: center;
}

.nonborder {
    border: none;
}

.tri {
    font-size: 2.9rem;
}

.select-wrapper {
    margin-right: 1em;
    margin-left: 1em; 
    padding-left: 1.953rem;
    padding-right: 1.953rem; 
}

.formatPadding{
    padding-top: 0.512rem;
}

.conteneurManqueVin{
    display: flex;
    justify-content: center;
}

 .logoManqueDeVin{
    width: 100px;
    height: 100px;
}


