/*Nav*/

.logo-lien {
    display: flex;
    align-items: center;
}

.logo {
    width: 3.815rem;
    height: 3.815rem;
}

/* j'ai enlever le "margin:0 18px" dans le css materialize */

nav .sidenav-trigger{
    margin-right: -6px;
}

nav {
    align-self: center;
    display: flex;
    justify-content: flex-end;
    
}
.nav-padding {
    padding: 0.64rem;
}

.nav-extended.white {
align-self: stretch;
display: flex;
align-items: center;
justify-content: space-between;
}

.nav-content.white {
    display: flex;
    align-items: stretch;
}

.nav-content.white *{
    display: flex;
    align-items: stretch;
}

.nav-content.white span{
align-self: center;
}

.tab:hover  {

    background-color: rgba(0,0,0,0.1);
}

.margin-right-1 {
    margin-right: 1rem;
}


